.TrafficLightBase { 
  display: flex;
  flex-direction: column;
  width:150px;
  justify-content: center;
  align-items: center; 
  height: auto;
  background:#333;
  border-radius:30px;
  margin:3em auto;
  position:relative;
  border:2px #666 solid;
  padding-top: 12px;
}

.RedCircle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border:2px #727272 solid;
    display: inline-block;
    background-color: #3b0000;
  }

  .YellowCircle {
    height: 100px;
    width: 100px;
    background-color: #444601;
    border:2px #727272 solid;
    border-radius: 50%;
    display: inline-block;
  }

  .GreenCircle {
    height: 100px;
    width: 100px;
    border:2px #727272 solid;
    background-color: #003b0f;
    border-radius: 50%;
    display: inline-block;
  }

  .Timer {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 2.5vw;
    border:2px #727272 solid;
    color: white;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
  }

  .Pole {
    display: flex;
    justify-content: center;
    align-items: center;
    width:75px;
    background:#333;
    margin:3em auto;
    border:2px #666 solid;
    padding-top: 12px;
    padding-bottom: 10%;
  }

  button {
    background-color: #1d1852;
    height: 20%;
    border: none;
    color: #fff;
    border:2px #010370 solid;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
  }