<div class="TrafficLightBase">
<div class="Timer">{{timeLeft}}</div> <br>
<div class="RedCircle" [style.background-color]="red"></div>  <br>
<div class="YellowCircle" [style.background-color]="yellow"> </div>
<br>
<div class ="GreenCircle" [style.background-color]="green"> </div>
<br>
</div>
<div class="Pole">
    <button (click)="PushButton()">⭕ ☝️ 🧍‍♂️</button>
</div>
